{% extends "Primer_app/Padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    {% if formProfe.error %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}

    <h1> Formulario-editar Profesor</h1>
    
    <!--anotar en el cuaderno esto!!!-->

    <form action="{% url 'primerApp:EditarProfesor' profesorNombre  %}", method ='post'>{% csrf_token %} 
 


         <!-- Acá está la magia de Django-->
         
         {{ formProfe.as_p }}


        <input type="submit", value="Actualizar">

    </form>

    
{% endblock %}