<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - profesores</title>
</head>
<body>
    
</body>
</html>


    {% if miFormulario.error %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}



    <form action="{% url 'primerApp:ProfeFormulario' %}", method ='POST'>{% csrf_token %} <!-- creo que aca esta el error xd-->
     


        <!-- Acá está la magia de Django-->
    

            {{ formprofe.as_p }}
    
    
        <input type="submit", value="Enviar">

    </form>

