<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resultados de busqueda</title>
</head>
<body>


    <form action=" /Primer_app/buscar/" method="GET">

        <input type = "number", name = "Comision", id="Comision">

        <input type = "submit",value = "Buscar">

    </form>


    <p> estoy buscando la: {{Comision}} </p>

{% if cursos %}

    <ul>
    {% for curso in cursos %}  
        <li>{{curso.nombre}} </li>
        <li>{{curso.comision}} </li> 
    
    {% endfor %}
    </ul>

{% endif %}


</body>
</html>