{% extends "Primer_app/Padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    {% if formprofe.error %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}

    <h1> Formulario-agregar Profesor</h1>

    <form action="{% url 'primerApp:Profes' %}", method ='POST'>{% csrf_token %} <!-- creo que aca esta el error xd-->
 


         <!-- Acá está la magia de Django-->


            {{ formprofe.as_p }}


        <input type="submit", value="Enviar">

    </form>


{% endblock %}